
html, body {
	height:100%;
}
body {
	color:#666;
	background-color:#fff;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;

	font-size:14px; line-height:1.5;
	margin:0; padding:0;
}
/* example usage: index-onepage-youtube.html */

body #wrapper {/* used by RTL*/
	overflow:hidden;
	min-height:100%; /*  because short page hide long menus */
}

body.bg-grey,
body.bg-grey #wrapper {
	background-color:#f1f2f7;
}

section {
	display: block;
	position: relative;
	padding: 80px 0;
	border-bottom:rgba(0,0,0,0.1) 1px solid;

	-webkit-transition: all .400s;
	   -moz-transition: all .400s;
		 -o-transition: all .400s;
			transition: all .400s;

	background-attachment: fixed;
	  background-position: center center;
		background-repeat: no-repeat;

	-webkit-background-size: cover !important;
	   -moz-background-size: cover !important;
		 -o-background-size: cover !important;

	-webkit-box-sizing: border-box !important;
	   -moz-box-sizing: border-box !important;
	   background-size: cover !important;
			box-sizing: border-box !important;
}
section:after,
section:before {
	content:" ";
	display:table;
}

	section.dark {
		background-color:#212121;
		border-bottom:rgba(255,255,255,0.1) 1px solid;
	}
	
	section.dark,
	section.dark p,
	section.dark h1,
	section.dark h2,
	section.dark h3,
	section.dark h4,
	section.dark h5,
	section.dark h6 {
		color:#fff;
	}
	section.padding-xxs {
		padding:30px 0;
	}
	section.dark a {
		color:#999;
	}
	section.parallax {
		border:0;
	}

body.bg-grey,
body.bg-grey #wrapper {
	background-color:#f1f2f7;
}
.container {
	position:relative;
}

a:active,
a:focus,
a:hover {
	color: #212121;
	text-decoration:none;
}


/* black link color - override theme color link */


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color:#121212;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color:#888;
}

section.dark h1 a,
section.dark h2 a,
section.dark h3 a,
section.dark h4 a,
section.dark h5 a,
section.dark h6 a {
	color:#eee;
}

section.dark h1 a:hover,
section.dark h2 a:hover,
section.dark h3 a:hover,
section.dark h4 a:hover,
section.dark h5 a:hover,
section.dark h6 a:hover {
	color:#fff;
}

section header>h1,
section header>h2,
section header>h3,
section header>h4,
section header>h5,
section header>h6 {
	margin:0;
}

small {
	font-family: 'Lato', sans-serif;
}
label {
	display:block;
}


/* form control: inputs, textarea, etc */
.btn {
	position:relative;
}
.btn-default {
	border-width:2px;
}



.input-group-addon {
	border:#ddd 2px solid;
	border-right:0;
}
	section.dark .input-group-addon {
		background-color:#212121;
		border-color:#666;
		color:#eaeaea;
	}
.form-control {
	border:#ddd 2px solid;
	box-shadow:none;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
section .input-group-btn .btn.btn-default,
section .input-group-btn button.btn-default {
	border-width:2px;
	border-color:#ddd;
}
.form-control:focus {
	border-color:#c6c6c6;
}
	section.dark .form-control {
		border-color:#666;
		background-color: rgba(255,255,255,0.05);
	}
	section.dark .form-control:focus {
		border-color:#999;
	}

.label {
	padding:.4em .6em .4em;
}


/* DARK PRESETS */
section.dark input,
section.dark select,
section.dark textarea {
	color:#fff;
}
section.dark .btn {
	color:#fff;
}
section.dark .thumbnail {
	border-color:#444;
	background-color:transparent;
}
section.dark h1.page-header,
section.dark h2.page-header,
section.dark h3.page-header,
section.dark h4.page-header,
section.dark h5.page-header,
section.dark h6.page-header {
	border-bottom-color:#666;
}


/* fonts */
.font-lato {
	font-weight:300;
	font-family:'Lato',Arial,Helvetica,sans-serif !important;
}



/*
	GLOBAL RADIUS
	Add here all needed bootstrap elements
*/
pre,
.alert,
.panel,
.btn {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

/*
	bootstrap rewrite
*/
img.img-responsive {
	display:inline-block;
}

/** Slide Top
 **************************************************************** **/
#slidetop {
	color:#888;
	font-size:13px;
	background-color:#363839;
	z-index: 1500;
	position: absolute;
	top: 0; right: 0; left:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
	#slidetop h1,
	#slidetop h2,
	#slidetop h3,
	#slidetop h4,
	#slidetop h5,
	#slidetop h6 {
		font-size:13px;
		line-height:20px;
		color:#fff;
	}

	#slidetop ul {
		margin:0;
	}
	#slidetop a {
		color:#ccc;
		text-decoration:none;
	}
	#slidetop ul>li>a {
		display:block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		width:100%;
	}
	#slidetop ul>li>a>i {
		margin-right:6px;
	}
	#slidetop h1>i,
	#slidetop h2>i,
	#slidetop h3>i,
	#slidetop h4>i,
	#slidetop h5>i,
	#slidetop h6>i {
		margin-right:8px;
	}
	#slidetop a:hover {
		color:#fff;
	}
#slidetop .container {
	display:none;
	height: auto;
	padding:30px 0;
}

#slidetop a.slidetop-toggle {
	height:35px;
	position: absolute;
	right: 0; bottom:-35px;
	border-top: 35px solid #363839;
	border-left: 35px solid transparent;

	display:inline-block;
	text-decoration:none;
	color:#fff;
	text-align:center;
}
#slidetop a.slidetop-toggle:after {
	font-family:FontAwesome;
	content: "\f067";
	height:18px;
	color:#fff;
	position:absolute;
	top: -34px;
	left: -16px;
}
	#slidetop.active a.slidetop-toggle:after {
		content: "\f068";
	}


@media only screen and (max-width: 768px) {
	#slidetop {
		display:none !important;
	}
}

/** Page Header
 **************************************************************** **/
section.page-header {
	position: relative;
	padding: 50px 0 50px 0;
	border-top: 0;
	margin-top: 0;
	margin-bottom: 0 !important;
	background-color: rgba(0,0,0,0.05);
	border-bottom: rgba(0,0,0,0.05) 1px solid;

	-webkit-transition: all 0s;
	   -moz-transition: all 0s;
		 -o-transition: all 0s;
			transition: all 0s;
}



	section.dark.page-header {
		color:#fff;
		background-color:#151515;
	}
	section.light.page-header {
		color:#151515;
		background-color:transparent;
		border-top: rgba(0,0,0,0.05) 1px solid;

	}

	/* page header tabs */

section.page-header h1 {
	margin:0;
	padding:0;
	font-size:26px;
	font-weight:300;
}
section.page-header span.font-lato {
	border-top:rgba(0,0,0,0.05) 2px solid;
	padding-top:2px;
}
@media only screen and (max-width: 767px) {
	section.page-header {
		text-align:center;
	}
	section.page-header .container.text-right,
	section.page-header .container.text-left {
		text-align:center;
	}
}

/** Top Nav
 **************************************************************** **/
#header {
	position: relative;
	left:0; top:0; right:0;
	z-index:1000;
	background-color:#fff;
	border-bottom: rgba(0,0,0,0.05) 1px solid;

	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1) !important;
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,.1) !important;
			box-shadow: 0 0 2px rgba(0,0,0,.1) !important;

	-webkit-transition: all .800s;
	   -moz-transition: all .800s;
		 -o-transition: all .800s;
			transition: all .800s;
}
#header a.logo>img {
	height:80px;
	-webkit-transition: all .300s;
	   -moz-transition: all .300s;
		 -o-transition: all .300s;
			transition: all .300s;
}

/* force uppercase links */
#topBar ul li a,
#mainMenu ul li a,
#topMain ul li a {
	text-transform:uppercase;
}


/* two logo images : light & dark */
#header a.logo>img:last-child {
	display:none;
}
#header a.logo>img:first-child {
	display:inline-block;
}
#header.fixed a.logo>img:first-child {
	display:none;
}
#header.fixed a.logo>img:last-child {
	display:inline-block;
}


	#header.shadow-after-2:before {
		content:' ';
		position:absolute;
		left:0; right:0;
		width:100%; height:60px;
		bottom:-60px;
		background-image:url('../images/misc/shadow2.png');
		background-size: 100% 100%;
	}
	#header.shadow-before-2:before {
		content:' ';
		position:absolute;
		left:0; right:0; top:0;
		width:100%; height:60px;
		background-image:url('../images/misc/shadow2.png');
		background-size: 100% 100%;
	}
	#header.shadow-after-3:before {
		content:' ';
		position:absolute;
		left:0; right:0;
		width:100%; height:60px;
		bottom:-60px;
		background-image:url('../images/misc/shadow3.png');
		background-size: 100% 100%;
	}
	#header.shadow-before-3:before {
		content:' ';
		position:absolute;
		left:0; right:0; top:0;
		width:100%; height:60px;
		background-image:url('../images/misc/shadow3.png');
		background-size: 100% 100%;
	}


	/** Search - Default
	 ********************** **/
	#header li.search {
		display:inline-block;
	}
	#header li.search .search-box {
		display:none;
		right: 0;
		left:auto;
		top: 100%;
		padding: 15px;
		background-color: #fff;
		position: absolute;
		box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
		width: 274px;
		margin-top: 36px;
		z-index: 22;
	}
	#header.header-md li.search .search-box {
		margin-top:25px;
	}
	#header.header-sm  li.search .search-box {
		margin-top:19px;
	}
	#header.fixed  li.search .search-box {
		margin-top:18px;
	}
		#header.fixed.header-sm  li.search .search-box {
			margin-top:18px;
		}
		#header.fixed.header-md  li.search .search-box {
			margin-top:15px;
		}

	#header li.search i.fa {
		color: #333;
		cursor: pointer;
		position: relative;
	}


	/** Search - Fullscreen
	 ********************** **/
	#header li.search.fullscreen>.search-box {
		text-align:center;
		position:fixed;
		padding:30px;
		background-color:rgba(255,255,255,0.95) !important;
		left:0; top:0 !important; right:0; bottom:0;
		width:100%;
		height:100%;
		margin:0 !important;
		z-index:2000;
	}
	#header li.search.fullscreen>.search-box>form {
		max-width:800px;
		display:inline-block;
		margin:auto;
		margin-top:20%;
	}
	#header li.search.fullscreen>.search-box>form input {
		border: 0;
		background-color: rgba(0,0,0,0.1);
		padding-top: 15px;
		padding-bottom: 15px;
		height: 65px;
		font-size:24px;
		font-weight:300;
		color:#121212;
		border-right:rgba(0,0,0,0.2) 1px solid;
	}
	#header li.search.fullscreen>.search-box>form button {
		border: 0;
		font-size: 24px;
		padding: 15px 20px !important;
		height: 65px;
		background-color: rgba(0,0,0,0.1);
		color: #888;
	}
	#header li.search.fullscreen>.search-box>form button>i {
		color: #999;
		font-size: 22px;
	}
	#header li.search.fullscreen>.search-box>form button:hover>i {
		color: #121212;
	}
	#header li.search.fullscreen #closeSearch {
		background-color: rgba(0,0,0,0.05);
		text-decoration: none;
		text-align: center;
		width: 60px;
		height: 60px;
		line-height: 60px;
		position: absolute;
		top: -3px;
		left: 50%;
		margin-left: -30px;
		color: #888;
		font-size: 40px;
		z-index: 1000;


		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
	}
	#header li.search.fullscreen #closeSearch:hover {
		color:#111;
	}

	/* Dark */
	#header li.search.fullscreen.dark>.search-box {
		background-color:rgba(0,0,0,0.95) !important;
	}
	#header li.search.fullscreen.dark>.search-box>form input {
		color:#ddd;
		background-color: rgba(255,255,255,0.1);
		border-right-color:rgba(255,255,255,0.2);
	}
	#header li.search.fullscreen.dark>.search-box>form button {
		background-color: rgba(255,255,255,0.1);
	}
	#header li.search.fullscreen.dark>.search-box>form button>i {
		color: #999;
	}
	#header li.search.fullscreen.dark>.search-box>form button:hover>i {
		color: #fff;
	}
	#header li.search.fullscreen.dark #closeSearch {
		background-color: rgba(255,255,255,0.2);
		color: #888;
	}
	#header li.search.fullscreen.dark #closeSearch:hover {
		color:#fff;
	}

	@media only screen and (max-width: 480px) {
		#header li.search.fullscreen>.search-box>form {
			margin-top:30%;
		}
	}
	@media only screen and (max-height: 400px) {
		#header li.search.fullscreen>.search-box>form {
			margin-top:60px;
		}
	}



	/** Search - Header
	 ********************** **/

	/* dark */

	#header.translucent #topMain,
	#header.dark.transparent #topMain {
		background-color:transparent;
	}



	/** Quick Shop Cart
	 ********************** **/
	#header li.quick-cart .quick-cart-box {
		display:none;
		right: 0;
		left:auto;
		top: 100%;
		padding:10px 0;
		background-color: #fff;
		position: absolute;
		box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
		width: 274px;
		margin-top: 36px;
		z-index: 22;
	}
	#header.fixed  li.quick-cart .quick-cart-box {
		margin-top:18px;
	}
		#header.fixed.header-sm li.quick-cart .quick-cart-box {
			margin-top:18px;
		}
		#header.fixed.header-md li.quick-cart .quick-cart-box {
			margin-top:15px;
		}

	#header li.quick-cart .quick-cart-wrapper {
		max-height:400px;
		overflow-y:auto;
	}
	#header li.quick-cart .quick-cart-box h4 {
		font-size:17px;
		margin:0;
		padding:0 10px 10px 10px;
		border-bottom:rgba(0,0,0,0.1) 1px solid;
	}
	#header li.quick-cart .quick-cart-box a {
		display:block;
		padding:15px 10px;
		border-bottom:rgba(0,0,0,0.04) 1px solid;
	}
	#header li.quick-cart .quick-cart-box a:hover {
		background-color:rgba(0,0,0,0.03);
	}
	#header li.quick-cart .quick-cart-box a>img {
		float:left;
		margin-right:10px;
	}
	#header li.quick-cart .quick-cart-box a h6 {
		margin:0;
		padding:4px 0 0 0;

		text-overflow:ellipsis;
		white-space: nowrap;
		overflow:hidden;
	}
	#header li.quick-cart .quick-cart-box a.btn {
		background-color:#151515;
		border:0; margin:0;
		padding-top:6px;
		padding-bottom:4px;
	}
	#header li.quick-cart .quick-cart-footer {
		padding:10px 10px 0 10px;
	}
	#header li.quick-cart .quick-cart-footer>span {
		display:inline-block;
		padding-top:3px;
		background-color:rgba(0,0,0,0.05);
		padding: 4px 3px;

		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
	}

	@media only screen and (min-width: 992px) { /* min-width */
		#header li.quick-cart .quick-cart-box {
			top:21px;
		}
		#header.header-sm li.quick-cart .quick-cart-box {
			margin-top:19px;
		}
		#header.header-md li.quick-cart .quick-cart-box {
			margin-top:26px;
		}
		#header li.quick-cart .quick-cart-wrapper {
			max-height:300px;
			overflow-y:auto;
		}
	}

	@media only screen and (max-width: 992px) { /* max-width */
		#header li.quick-cart .quick-cart-box {
			margin-top:18px;
		}
		#header.dark li.search .search-box {
			margin-top:38px !important;
		}

	}
	@media only screen and (max-width: 769px) {
		#header li.quick-cart .quick-cart-box {
			position:fixed;
			width:100%;
			left:0; right:0;
			top:60px;
			margin-top:0;
			border:rgba(0,0,0,0.08) 1px solid !important;
		}
		#header.dark li.quick-cart .quick-cart-box {
			border:rgba(255,255,255,0.08) 1px solid;
		}
		#header li.quick-cart .quick-cart-wrapper {
			max-height:200px;
			overflow-y:auto;
		}

	
		#header ul.has-topBar>li.quick-cart .quick-cart-box,
		#header ul.has-topBar>li.search .search-box {
			top:98px !important;
		}
	}


	/* Responsive */
	@media (min-width: 768px) {
	}

	/** Mobile Button
	 ********************** **/
	#topNav button.btn-mobile {
		display:none;
	}
		#topNav button.btn-mobile {
			color:#333;
			display: none;
			padding:6px 10px;
			float:right;
			margin-top:13px;
			margin-right:0;

			-webkit-border-radius: 0;
			   -moz-border-radius: 0;
					border-radius: 0;
		}

		#topNav button.btn-mobile i {
			padding:0; margin:0;
			font-size:21px;
		}
	@media only screen and (max-width: 992px) {
		#topNav button.btn-mobile {
			display:inline-block;
		}
	}

	#header li.search .search-box,
	#header li.quick-cart .quick-cart-box {
		border:rgba(0,0,0,0.07) 1px solid;
		border-top:0;
	}
	/* Transparent Header */
	#header.transparent {
		position:absolute;
		background-color:transparent;
		border-bottom:rgba(255,255,255,0.3) 1px solid;

		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	#header.transparent.color,
	#header.transparent.dark {
		border:0;
	}
	#header.transparent #topMain.nav-pills>li>a {
		color:#fff;

		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
	}
	#header.transparent #topMain.nav-pills>li.active>a,
	#header.transparent #topMain.nav-pills>li>a:hover {
		background-color:rgba(0,0,0,0.03);
	}
	
	#header.transparent + section.page-header {
		/*margin-top:-100px;*/
		padding:180px 0;
	}

	#header.transparent a.social-icon {
		background-color:rgba(0,0,0,0.2);
	}
	#header.transparent a.social-icon>i {
		color:#eaeaea;
	}

		/* on scroll */
		#header.fixed.transparent{
			background-color:#fff;
		}
		#header.fixed.dark,
		#header.fixed.dark.transparent {
			background-color:#333;
			border:0;
		}
		#header.fixed.transparent ul.nav-second-main li a,
		#header.fixed.transparent ul.nav-second-main li a>i,
		#header.fixed.transparent #topMain.nav-pills>li>a {
			color:#151515;
		}
		#header.fixed.dark.transparent ul.nav-second-main li a,
		#header.fixed.dark.transparent ul.nav-second-main li a>i,
		#header.fixed.dark.transparent #topMain.nav-pills>li>a {
			color:#fff;
		}

	@media only screen and (max-width: 992px) {
		#header.transparent.fixed #topNav button.btn-mobile {
			color:#333 !important;
		}
		#header.transparent.dark.fixed #topNav button.btn-mobile {
			color:#fff !important;
		}
		#header.transparent #topMain.nav-pills>li>a {
			color:#fff;
		}
		#header.transparent.dark #topMain.nav-pills>li>a {
			color:#fff;
		}
	}


	@media only screen and (max-width: 768px) {
		#header.transparent + section.page-header {
			margin-top:0;
		}

		/* force dark submenu */
		#header.transparent #topMain {
			background-color:#333 !important;
		}
		#header.transparent #topMain li.active>a {
			color:#fff !important;
		}
	}



	/*
		Nav Second Main
		- search, etc
	*/
	#header ul.nav-second-main {
		border-left:rgba(0,0,0,0.1) 1px solid;
		padding-left:15px;
		margin-top: 39px;

		-webkit-transition: all .300s;
		   -moz-transition: all .300s;
			 -o-transition: all .300s;
				transition: all .300s;
	}
	#header.fixed ul.nav-second-main {
		margin-top:20px;
	}
		#header.header-sm ul.nav-second-main {
			margin-top:20px;
		}
		#header.header-md ul.nav-second-main {
			margin-top:23px;
		}
	#header ul.nav-second-main li {
		padding-top:33px;
		padding:0 5px 0px 5px;
	}
	#header ul.nav-second-main li>a {
		background-color:transparent;
		color:#666;
		padding:0 3px;
		display:block;
	}
	#header ul.nav-second-main li i {
		font-size:18px;
		width: 20px;
		height: 20px;
		margin:0;
		padding:0;

		opacity:0.6;
		filter: alpha(opacity=60);

		-webkit-transition: all .300s;
		   -moz-transition: all .300s;
			 -o-transition: all .300s;
				transition: all .300s;
	}
	#header ul.nav-second-main li:hover i {
		opacity:1;
		filter: alpha(opacity=100);
	}
	#header ul.nav-second-main li .badge {
		padding:3px 6px;
	}

	/* dark & color menu */
	#header.transparent ul.nav-second-main li a,
	#header.transparent ul.nav-second-main li a>i,
	#header.color ul.nav-second-main li a,
	#header.color ul.nav-second-main li a>i,
	#header.dark ul.nav-second-main li a,
	#header.dark ul.nav-second-main li a>i {
		color:#fff;

		opacity:1;
		filter: alpha(opacity=100);
	}

	@media only screen and (max-width: 992px) {
		#header ul.nav-second-main {
			margin:15px 15px 0 0;
			border:0;
		}
		#header ul.nav-second-main li {
			padding:0;
			padding-top:6px;
		}
		#header ul.nav-second-main {
			-webkit-transition: all 0s;
			   -moz-transition: all 0s;
				 -o-transition: all 0s;
					transition: all 0s;
		}
		#header.fixed ul.nav-second-main li {
			padding-top:0;
		}
		#header.header-md ul.nav-second-main li>a,
		#header.header-sm ul.nav-second-main li>a {
			margin-top:-6px;
		}

	}


	/** ************************************************************* **/
	/* submenu */
	#topNav ul.dropdown-menu {
		text-align:left;
		margin-top:0;
		box-shadow:none;
		border:#eee 1px solid;
		border-top:#eee 0 solid;
		list-style:none;
		background-color:#fff;
		box-shadow:rgba(0,0,0,0.2) 0 6px 12px;
		min-width:200px;
		padding:0;

		border-color: #1ABC9C #fff #fff;

		-webkit-transition: top .4s ease;
			 -o-transition: top .4s ease;
				transition: top .4s ease;

		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
	}

	#topNav ul.dropdown-menu li {
		position:relative;
		border-bottom: rgba(0,0,0,0.06) 1px solid;
	}
		#topNav .submenu-dark ul.dropdown-menu li {
			border-bottom-color: rgba(0,0,0,0.2);
		}
	#topNav ul.dropdown-menu li:last-child {
		border-bottom:0;
	}
	#topNav ul.dropdown-menu li a {
		margin:0;
		padding:7px 15px;
		font-weight:400;
		line-height:23px;

		color:#666;
		font-size:12px;
		display:block;
		text-decoration:none;
	}
	#topNav ul.dropdown-menu>li a i {
		margin-right:6px;
		font-size:12px;
	}
	#topNav ul.dropdown-menu a.dropdown-toggle {
		background-position: right center;
		background-repeat: no-repeat;
	}
	#topNav ul.dropdown-menu li.active>a,
	#topNav ul.dropdown-menu li.active:hover>a,
	#topNav ul.dropdown-menu li.active:focus>a,
	#topNav ul.dropdown-menu li:hover>a,
	#topNav ul.dropdown-menu li:focus>a,
	#topNav ul.dropdown-menu li:focus>a {
		color:#000;
		background-color:rgba(0,0,0,0.05);
	}
	#topNav .nav li:hover>ul.dropdown-menu {
		padding:0;
		display:block;
		z-index:100;
	}
	#topNav ul.dropdown-menu li .label {
		margin-top:4px;
	}

	/* sub-submenu */
	#topNav ul.dropdown-menu>li:hover > ul.dropdown-menu {
		display:block;
		position:absolute;
		left:100%; top:0;
		padding:0; margin:0;
		border-left:0 !important;
		border-right:0 !important;
		border-bottom:0 !important;
	}
	/** ************************************************************* **/


	/* onepage active link */
	#topMain.nav-onepage>li.active>a {
		font-weight:bold;
	}


	/** Responsive Top Nav
	 ********************* **/
	@media only screen and (max-width: 992px) {
		.navbar-collapse {
			height:100%;
		}

		#topNav div.nav-main-collapse {
			padding:0; margin:0;
		}
		#topNav button.btn-mobile {
			display:block;
			float:right;
			margin-right:0;
		}
			#header.dark #topNav button.btn-mobile,
			#header.transparent #topNav button.btn-mobile {
				color:#fff;
			}
		#topNav nav.nav-main {
			background-color:#fff;
		}
		#topNav div.nav-main-collapse,
		#topNav div.nav-main-collapse.in {
			width: 100%;
			margin:-1px 0 0 0;
		}
		#topNav div.nav-main-collapse {
			float: none;
			overflow-x:hidden;
			max-height:350px;
		}
		#topNav div.nav-main-collapse.collapse {
			display: none !important;
		}
		#topNav div.nav-main-collapse.in {
			display: block !important;
		}
		#topNav div.nav-main-collapse {
			position: relative;
		}



		#topMain>li>a>span {
			display:none !important;
		}
		#topMain li {
			display:block !important;
			float:none;
			text-align:left;

			-webkit-border-radius: 0;
			   -moz-border-radius: 0;
					border-radius: 0;
		}
		#topMain li a {
			text-align:left;
			border:0;
			height:auto;
			line-height:15px;

			-webkit-border-radius: 0;
			   -moz-border-radius: 0;
					border-radius: 0;
		}
		#topMain>li:hover,
		#topMain>li:hover>a {
			border-top:0 !important;
		}
		#topMain>li>a {
			height:auto;
			line-height:auto;
		}

		/* submenu */
		#topMain ul.dropdown-menu {
			position: static;
			clear: both;
			float: none;
			display: none !important;
			border-left:0 !important;

			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
					box-shadow: none;
		}

		#topNav nav.nav-main li.resp-active > ul.dropdown-menu {
			display: block !important;
			margin-left:30px;
			margin-right:30px;
			padding:20px 0;
			border-right:0;
		}
		#topNav nav.nav-main li.resp-active > ul.dropdown-menu li {
			border-left:0;
		}

		#topNav ul.nav>li:hover>a:before,
		#topNav ul.nav>li.active>a:before {
			background-color:transparent;
		}

		#topNav ul.dropdown-menu>li:hover > ul.dropdown-menu {
			position:static;
		}

		#topNav div.submenu-dark ul.dropdown-menu {
			border-top:0;
		}

		/** sub menu */
		#topNav nav.nav-main li.resp-active > ul.dropdown-menu {
			margin:0; padding:0;
		}
		#topNav nav.nav-main li > ul.dropdown-menu li a {
			padding-left:40px;
		}

		#topNav .dropdown-menu.pull-right,
		#topNav .dropdown-menu.pull-left {
			float:none !important;
		}
	}

	@media only screen and (max-width: 500px) {
		#topNav div.nav-main-collapse {
			max-height:250px;
		}
	}



	/* Mega Menu */
	#topNav #topMain>li.mega-menu {
	  position: inherit;
	  color:#fff;

	}
	#topNav #topMain>li.mega-menu>ul {
	  max-width:100%;
	  width: 100%;
	}
	#topNav #topMain>li.mega-menu div.row {
		display:table;
		margin:0;
		padding:0;
		width:100%;
	}
	#topNav #topMain>li.mega-menu div.row div {
		display:table-cell;
		border-left: rgba(0,0,0,0.1) 1px solid;
		margin-left: -1px;
		display: table-cell;
		vertical-align: top;
		float: none;

		margin:0;
		padding:15px 0 0 0;
	}
	#topNav #topMain>li.mega-menu div.row>div:first-child {
		border-left:0 !important;
	}
	#topNav #topMain>li.mega-menu div.row div>ul>li>span {
		color:#111;
		font-weight:bold;
		display:block;
		padding:6px 15px 15px 15px;
	}
	#topNav #topMain>li.mega-menu div.row div:first-child {
		border-left:0;
	}


	/* LIGHT SUBMENU */
	#topNav ul.dropdown-menu a.dropdown-toggle {
		background-image: url('../images/submenu_light.png');
	}


	/* DARK SUBMENU */
	#topNav div.submenu-dark ul.dropdown-menu {
		background-color:#333;
	}
	#topNav div.submenu-dark ul.dropdown-menu a.dropdown-toggle {
		background-image: url('../images/submenu_dark.png');
	}
	#topNav div.submenu-dark ul.dropdown-menu li.active>a,
	#topNav div.submenu-dark ul.dropdown-menu li.active:hover>a,
	#topNav div.submenu-dark ul.dropdown-menu li.active:focus>a,
	#topNav div.submenu-dark ul.dropdown-menu li:hover>a,
	#topNav div.submenu-dark ul.dropdown-menu li:focus>a,
	#topNav div.submenu-dark ul.dropdown-menu li:focus>a {
		color:#fff;
		background-color:rgba(0,0,0,0.15);
	}
	#topNav div.submenu-dark ul.dropdown-menu>li a {
		color:#ccc;
	}
	#topNav div.submenu-dark #topMain>li.mega-menu div.row div>ul>li>span {
		color:#fff;
	}
	#topNav div.submenu-dark #topMain>li.mega-menu div.row div {
		border-left: rgba(0,0,0,0.2) 1px solid;
	}

/** Page Menu
 **************************************************************** **/
#page-menu {
  position: relative;
  height: 44px;
  line-height: 46px;
  background-color:#333;
  color:#fff;
  text-shadow:rgba(0,0,0,.1) 1px 1px 1px;
  z-index:100;
  overflow:hidden;
}
#page-menu ul {
	margin:0;
	line-height: 44px;
}
#page-menu ul>li {
	line-height: 44px;
	float:left;
}
#page-menu ul>li>a {
	color:#fff;
	height:44px;
	padding:0 10px;
	display:inline-block;
	text-decoration:none;

	-webkit-transition: all .300s;
	   -moz-transition: all .300s;
		 -o-transition: all .300s;
			transition: all .300s;
}
	#page-menu ul>li>a>i {
		margin-right:5px;
	}
#page-menu ul>li:hover,
#page-menu ul>li.active {
	background-color:rgba(0,0,0,0.3);
}
#page-menu nav {
	position:relative;
}
#page-menu ul.list-inline.dropdown-menu {
	display:block;
}
#page-menu-mobile {
	display:none;
	font-size:21px;

	background-color:rgba(0,0,0,0.2);
	height:44px;
	width:44px;
}
@media only screen and (min-width: 990px) {
	#page-menu ul {
		display:block !important;
	}
}
@media only screen and (max-width: 992px) {
	#page-menu {
		overflow:visible;
	}
	#page-menu ul>li {
		float:none !important;
	}

	#page-menu-mobile {
		display:inline-block;
	}
	#page-menu ul {
		display:none;
		position:absolute;
		min-width:200px;
	}
	#page-menu nav.pull-right ul {
		right:-15px;
		top:44px;
	}
	#page-menu nav.pull-left ul {
		left:-15px;
		top:44px;
	}
	#page-menu nav.pull-right #page-menu-mobile {
		margin-right:-15px;
	}
	#page-menu nav.pull-left #page-menu-mobile {
		margin-left:-15px;
	}
	#page-menu ul>li,
	#page-menu ul>li>a {
		color:#fff !important;
		display:block;
		float:none;
	}
	#page-menu ul>li>a {
		color:#ccc;
	}
}


	@media only screen and (max-width: 992px) {
		#page-menu ul li {
			border-left:0;
		}
	}
/** Scroll To Top
 **************************************************************** **/
#toTop {
	font-size:38px;
	line-height:33px;
	background-color: rgba(0,0,0,0.3);
	color: #FFF;
	position: fixed;
	height: 35px; width: 40px;
	right: 6px; bottom: 6px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.9;
	filter: alpha(opacity=90);
	text-decoration:none;
	display:none;
	z-index: 1000;

	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;

	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;
			transition: all 0.2s;
}
#toTop:hover {
	background-color: rgba(0,0,0,0.7);
}
#toTop:before {
	font-family: "fontawesome";
	content: "\f102";
}

/** Preloader
 **************************************************************** **/
#preloader {
    position: fixed;
    z-index: 9999999;
    top: 0; bottom: 0;
    right: 0; left: 0;

    background: #fff;
}

.inner {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;

    width: 54px;
    height: 54px;
    margin: auto;
}

#preloader span.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 1px solid rgba(0,0,0, 0.08);
  border-right: 1px solid rgba(0,0,0, 0.08);
  border-bottom: 1px solid rgba(0,0,0, 0.08);
  border-left: 1px solid rgba(0,0,0, 0.5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

   -webkit-animation: spinner 700ms infinite linear;
   -moz-animation: spinner 700ms infinite linear;
   -ms-animation: spinner 700ms infinite linear;
   -o-animation: spinner 700ms infinite linear;
   animation: spinner 700ms infinite linear;

  z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** Misc
 **************************************************************** **/

.dropdown-menu {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

/* infinite scroll */

form .row {
	margin-bottom:20px;
}
form label {
	font-weight:bold;
}
table a {
	color:#666;
}
section.dark table a {
	color:#ddd;
}



/* Featured OWL Carousel */
.owl-carousel.featured .thumbnail.pull-left {
	margin-right:20px;
}
.owl-carousel.featured .thumbnail.pull-right {
	margin-left:20px;
}
.owl-carousel.featured a {
	color:#333;
}
section.dark .owl-carousel.featured a {
	color:#999;
}

/** Sliders
 **************************************************************** **/
section#slider {
	display:block;
	padding:0;
	margin:0;
	box-shadow:none;
	background-color:#151515;
	overflow:hidden !important;
	border-bottom:0;
	z-index:0;

		-webkit-transition: all 0s;
		   -moz-transition: all 0s;
			 -o-transition: all 0s;
				transition: all 0s;
}
	section#slider.transparent {
		background-color:transparent;
	}
section#slider.parallax-slider:before {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
section#slider canvas {
	width:auto !important;
	height:auto !important;
}
section#slider a:hover {
	color:#fff;
}

/* slider form */
section#slider form .btn {
	margin:0;
}
section#slider input {
	color:#fff;
	background-color:rgba(0,0,0,0.7);
	border-color:rgba(255,255,255,0.3);
}
section#slider .input-group-addon:first-child {
	color:#ccc;
	background-color:rgba(0,0,0,0.7);
	border-color:rgba(255,255,255,0.3);
}
section#slider form.validate input.error {
	color:#333;
}
section#slider input:focus {
	border-color:rgba(255,255,255,0.3);
}
section#slider .btn-default {
	background-color:rgba(0,0,0,0.2);
	border-color:rgba(255,255,255,0.5);
}


	#slider h1,
	.slider h1,
	#slider h2,
	.slider h2,
	#slider h3,
	.slider h3,
	#slider h4,
	.slider h4,
	#slider h5,
	.slider h5,
	#slider h6,
	.slider h6 {
		color:#fff;
	}

	/** Revolution Slider
	 ************************* **/
	.tp-caption {
		text-shadow:#000 1px 1px 1px;
	}
	.tp-caption.text_white {
		white-space: nowrap;
		line-height: 34px;
		border-width: 0px;
		margin: 0px;
		padding: 1px 10px;
		letter-spacing: 0px;
		font-size: 22px;
		color: #fff;
		text-shadow:none;
	}
	.tp-caption.text_white {
		color: #fff;
	}

	.tp-bannertimer {
		background:rgba(0,0,0,0.5) !important;
		height:2px !important;
	}

	.tparrows.round:before {
		font-family: 'revicons';
	}
	.tparrows {
		top:50% !important;
		margin-top:-25px;
	}
	.tparrows.preview1 {
		margin-top:-50px !important;
	}

	.tparrows.preview4 {
		margin-top:-50px !important;
	}

	.tparrows.preview2 {
		line-height:1;
	}

	.tparrows:hover {
		color: #fff;
	}
	.tp-leftarrow.round:before {
		content: '\e824';
	}
	.tp-rightarrow.round:before {
		content: '\e825';
	}
	.tparrows.tp-rightarrow:before {
		margin-left: 1px;
	}
	/* bullets */
	.tp-bullets.simplebullets.round {
		bottom:20px !important;
	}
	.tp-bullets.simplebullets.round .bullet {
		background:none;
		background-color:#fff;
		height:5px;
	}
	.tp-bullets.simplebullets.round .bullet.selected {
		background-color:#000;
	}

	/* revslider 5+ */
	.rev_slider_wrapper .tp-caption {
		text-shadow:none;
	}
	.rev_slider_wrapper .inner {
		bottom:inherit !important;
		right:auto !important;
		width:auto !important;
		height:auto !important;
	}
	.tp-thumbs {
		width:auto;
	}


	/** **/
	#slider img.img-responsive {
		display:inline-block;
	}

	#slider h1,
	#slider h2,
	#slider h3,
	#slider h4,
	#slider h5,
	#slider h6,
	#slider p {
		color:#fff;
		text-shadow:rgba(0,0,0,0.16) 1px 1px 1px;
	}
	#slider h1 {
		font-size:60px;
		line-height:60px;
	}
	#slider h2 {
		font-size:40px;
		line-height:40px;
	}
	#slider h3 {
		font-size:30px;
		line-height:30px;
	}
	#slider .btn {
		margin-top:30px;
	}
	#slider .btn-default,
	.slider .btn-default {
		color:#fff;
		background-color:transparent;
		border-color:#fff;
		border-width:2px;
	}
	#slider .btn-default:hover,
	.slider .btn-default:hover {
		background-color:rgba(255,255,255,0.1);
	}
	#slider .btn,
	.slider .btn {
		color:#fff !important;
	}

@media only screen and (max-width: 768px) {
	#slider h1 {
		font-size:30px;
		line-height:35px;
		text-align:center;
	}
	#slider h2 {
		font-size:27px;
		line-height:27px;
		text-align:center;
	}
	#slider h3 {
		font-size:20px;
		line-height:20px;
		text-align:center;
	}
}


	/** Next | Prev
	 ************************* **/
	 .tparrows.round,
	 .tp-leftarrow.round,
	 .tp-rightarrow.round,
	 .flex-prev,
	 .flex-next,
	 .camera_next,
	 .camera_prev,
	 .nivo-nextNav,
	 .nivo-prevNav,
	 .owl-prev,
	 .owl-next,
	 .swiper-button-next,
	 .swiper-button-prev {
		 background-image:none !important;
		 border:0;
		 color:#ccc;
		 font-size:34px;
		 line-height:55px;
		 height:auto !important;
		 width:56px !important;
		 text-align:center;
		 background-color:rgba(0,0,0,0.2);
 
		 -webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				 border-radius: 3px;
 
		 -webkit-transition: all .400s;
				-moz-transition: all .400s;
				-o-transition: all .400s;
				 transition: all .400s;
	 }
	 .tp-rightarrow.round,
	 .flex-next,
	 .owl-next,
	 .camera_next,
	 .nivo-nextNav,
	 .swiper-button-next {
		 right:-3px;
	 }
	 .tp-leftarrow.round,
	 .flex-prev,
	 .owl-prev,
	 .camera_prev,
	 .nivo-prevNav,
	 .swiper-button-prev {
		 left:-3px;
	 }
	 .tp-leftarrow.round:hover,
	 .tp-rightarrow.round:hover,
	 .flex-next:hover,
	 .owl-prev:hover,
	 .owl-next:hover,
	 .flex-prev:hover,
	 .camera_next:hover,
	 .camera_prev:hover,
	 .nivo-nextNav:hover,
	 .nivo-prevNav:hover,
	 .swiper-button-next:hover,
	 .swiper-button-prev:hover {
		 color:#fff;
		 background-color:rgba(0,0,0,0.5);
	 }
 
 

/** Portfolio
 **************************************************************** **/
/* do not move from here - we rewrite this below */
.item-box-desc h2,
.item-box-desc h3,
.item-box-desc h4,
.item-box-desc h5 {
	font-size:18px;
	line-height:21px;
	margin:0;
	padding:0;
}
.item-box .owl-carousel {
	margin-top:0px !important;
}



#portfolio {
	overflow:hidden;
}
#portfolio h2,
#portfolio h3 {
	font-size:18px;
	line-height:20px;
	margin:0;
	color:#111;
}

#portfolio .portfolio-item h2,
#portfolio .portfolio-item h3 {
	text-overflow:ellipsis;
	white-space: nowrap;
}


#portfolio div.col-md-3 h2,
#portfolio div.col-md-3 h3 {
	font-size:18px;
	line-height:18px;
}
#portfolio div.col-md-2 h2,
#portfolio div.col-md-2 h3 {
	font-size:13px;
	line-height:13px;
}
#portfolio div.col-md-2 .item-box-desc,
#portfolio div.col-md-2 .item-box-desc {
	padding:20px 6px 0 15px !important;
}
	section.dark #portfolio h2,
	section.dark #portfolio h3 {
		color:#fff;
	}

#portfolio div.col-md-2 ul.categories>li>a {
	font-size:11px;
	line-height:11px;
}


/* dark section */
section.dark#portfolio h2,
section.dark #portfolio h2,
section.dark#portfolio h3,
section.dark #portfolio h3 {
	color:#fff !important;
}

#portfolio .mix-grid>.row.mix {
	border-bottom:rgba(0,0,0,0.1) 1px solid;
	margin-bottom:60px;
	padding-bottom:60px;
}
#portfolio .mix-grid>.row.mix:last-child {
	border-bottom:0;
}
#portfolio .mix-grid>.row>div:last-child {
	margin-bottom:0 !important;
}
#portfolio .item-box-desc h2,
#portfolio .item-box-desc h3 {
	font-size:18px;
	line-height:20px;
}
#portfolio .controlls-over .owl-pagination {
	bottom:auto;
	top:10px;
	right:10px;
	left:auto;
	width:auto;
}

	/** Gutter
	 ****************** **/

	#portfolio.portfolio-nogutter .row>div,
	#portfolio.portfolio-nogutter .item-box {
	  padding: 0 !important;
	  margin: 0 !important;
	}


	/** Isotope Portfolio
	 ****************** **/
	#portfolio.portfolio-isotope {
		display:block;
		margin:auto;
		width:100%;
	}
	#portfolio.portfolio-isotope .item-box-desc {
		margin-bottom:0;
	}

	/* 2 columns */
	#portfolio.portfolio-isotope-2 .portfolio-item {
		margin: 0 20px 20px 0;
		float:left;
	}
		#portfolio.portfolio-isotope-2 .item-box-desc {
			padding:20px;
		}

	/* 3 columns */
	#portfolio.portfolio-isotope-3 .portfolio-item {
		margin: 0 15px 15px 0;
	}
		#portfolio.portfolio-isotope-3 .item-box-desc {
			padding:20px;
		}

	/* 4 columns */
	#portfolio.portfolio-isotope-4 .portfolio-item {
		margin: 0 12px 12px 0;
	}
		#portfolio.portfolio-isotope-4 .portfolio-item h3,
		#portfolio.portfolio-isotope-4 .portfolio-item h4 {
			font-size:17px;
			line-height:17px;
		}
		#portfolio.portfolio-isotope-4 .item-box-desc {
			padding:20px 10px 20px 10px;
		}

	/* 5 columns */
	#portfolio.portfolio-isotope-5 .portfolio-item {
		margin: 0 10px 10px 0;
	}
		#portfolio.portfolio-isotope-5 .portfolio-item  h3,
		#portfolio.portfolio-isotope-5 .portfolio-item  h4 {
			font-size:16px;
			line-height:16px;
		}
		#portfolio.portfolio-isotope-5 .item-box-desc {
			padding:20px 10px 20px 10px;
		}

	/* 6 columns */
	#portfolio.portfolio-isotope-6 .portfolio-item {
		margin: 0 6px 6px 0;
	}
		#portfolio.portfolio-isotope-6 .portfolio-item h3,
		#portfolio.portfolio-isotope-6 .portfolio-item h4 {
			font-size:15px;
			line-height:15px;
		}
		#portfolio.portfolio-isotope-6 .item-box-desc {
			padding:20px 10px 20px 10px;
		}

	#portfolio.portfolio-isotope.portfolio-nogutter .portfolio-item {
		margin:0;
	}

/** Item Box
 **************************************************************** **/
.item-box {
	overflow:hidden;
	margin:0;
	position:relative;
	box-shadow:rgba(0,0,0,0.1) 0 0 5px;


	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.mix-grid .item-box,
#portfolio .item-box {
	box-shadow:none;
}
	.item-box.fullwidth {
		max-width:100%;
	}


.item-box figure {
	width:100%;
	display:block;
	margin-bottom:0;
	overflow:hidden;
	position:relative;
	text-align:center;
}

.item-box-desc {
	padding:30px 20px 20px 20px;
	overflow:hidden;
	margin-bottom:10px;
	text-align:left !important;
}
.item-box-desc p {
	margin-top:20px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	/*white-space: nowrap;*/
}
.item-box-desc h2,
.item-box-desc h3,
.item-box-desc h4,
.item-box-desc h5 {
	padding:0; margin:0;
}
.item-box .item-box-desc small {
	display:block;
}


/* hover */
.item-box .item-hover {
	opacity: 0;
	filter: alpha(opacity=0);
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	text-align:center;
	color:#fff;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}
.item-box .item-hover,
.item-box .item-hover button,
.item-box .item-hover a {
	color:#fff;
}
.item-box .item-hover .inner {
	position:absolute;
	display:block;
	left:0; right:0; top:50%;
	margin-top:-10px;
	margin-bottom:0;
	width:100%;
	z-index:100;
	line-height:23px;
}
.item-box:hover .item-hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.item-box .item-hover .inner .ico-rounded>span {
	color:#666;
	background-color:#fff;
	width:50px;
	height:50px;
	line-height:50px !important;
	margin:-20px  5px 0 5px;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;

	-webkit-border-bottom-right-radius: 20px;
		-webkit-border-top-left-radius: 20px;
		-moz-border-radius-bottomright: 20px;
			-moz-border-radius-topleft: 20px;
			border-bottom-right-radius: 20px;
				border-top-left-radius: 20px;
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color:#333;
	background-color:rgba(0,0,0,0.07);
}



/** Mixitup
 **************************************************************** **/
.mix-grid .mix {
	opacity: 0;
	display: none;
}

/** Login & Register
 **************************************************************** **/
@media only screen and (max-width: 992px) {
	form div.col-xs-6>button {
		margin:0 !important;
	}
}

/** Footer
 **************************************************************** **/
#footer {
	color: rgba(255,255,255,0.6);

	background: #313131;
	background: -moz-linear-gradient(top, #555555 0%, #313131 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1d2b), color-stop(100%, #313131));
	background: -webkit-linear-gradient(top, #555555 0%, #313131 100%);
	background: -o-linear-gradient(top, #555555 0%, #313131 100%);
	background: -ms-linear-gradient(top, #555555 0%, #313131 100%);
	background: linear-gradient(to bottom, #555555 0%,#313131 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#313131',GradientType=0 );
}
#footer>.container {
	padding-top:60px;
	margin-bottom:60px;
}

#footer>.copyright {
	background-color:rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	padding:25px 0;
	font-size:13px;
	display:block;
}
#footer canvas {
	width:auto !important;
	height:auto !important;
}


	/* Footer Logo */
	#footer img.footer-logo {
		margin-bottom:20px;
		display:block;
	}

	/* Footer Typography */
	#footer h2 {
		font-size:26px;
		text-shadow:rgba(0,0,0,0.3) 3px 3px 5px;
	}
	#footer h3 {
		font-size:18px;
		margin-bottom:25px;
	}
	#footer h4 {
		font-size:15px;
		margin-bottom:25px;
	}

	#footer a {
		color: rgba(255,255,255,0.6);
		text-decoration:none;
	}
	#footer a:hover {
		color: rgba(255,255,255,0.9);
	}

	#footer  p {
		margin-top:0;
	}

	#footer ul {
		margin-bottom:0;
	}

	#footer hr {
		border:0;
		margin:20px 0;
		border-bottom:rgba(255,255,255,0.1) 1px solid;
		border-top:rgba(0,0,0,0.4) 1px solid;
	}

	#footer address {
		margin-bottom:0;
	}

	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6 {
		color: rgba(255,255,255,0.8);
		font-weight:600;
	}

	/* footer form */
	#footer form input,
	#footer form textarea {
		color: #999;
		background-color: rgba(0,0,0,.2);
		border-color: rgba(0,0,0,.25);
		margin-bottom:6px;

		-webkit-transition: all 0.2s;
		   -moz-transition: all 0.2s;
			 -o-transition: all 0.2s;
				transition: all 0.2s;
	}
	#footer form input[type="submit"]:hover,
	#footer form input:focus,
	#footer form textarea:focus {
		background-color: rgba(0,0,0,.3);
	}
	#footer form .input-group-addon {
		color: #999;
		background-color: rgba(0,0,0,.4);
		border-color: rgba(0,0,0,.25);
	}
	#footer form .input-group input,
	#footer form .input-group textarea {
		margin-bottom:0;
	}

	@media only screen and (max-width: 480px) {
		#footer h4 {
			margin-top:60px;
			display:block;
		}
		#footer .mobile-block {
			margin-bottom:25px !important;
		}
		#footer .copyright {
			text-align:center;
		}
	}

	/* footer list links */
	#footer ul.footer-links>li {
		padding-bottom:10px;
		font-weight:300;
	}
	#footer ul.footer-links>li>a {
		color: rgba(255,255,255,0.6);
	}
	#footer ul.footer-links>li>a:hover {
		color: rgba(255,255,255,0.9);
	}
	#footer ul.footer-links>li>a:before {
		content: "\f105";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		padding-right:10px;
	}

	/* footer news list */

	/* footer posts */
	#footer ul.footer-posts>li {
		padding: 15px 0;
		border-bottom:rgba(255,255,255,0.07) 1px solid;
	}
	#footer ul.footer-posts>li:first-child {
		padding-top:0;
	}
	#footer ul.footer-posts>li:last-child {
		border-bottom:0;
	}
	#footer ul.footer-posts>li>small {
		display:block;
	}

	/* footer contact text */
	#footer address {
		background:url('../images/world-map.png') no-repeat center;
	}
	#footer address .footer-sprite {
		margin-bottom:20px;
		padding-left:30px;
		background:url('../images/footer_sprite.png') no-repeat 0 0;
	}
		#footer address .footer-sprite:last-child {
			margin-bottom:0;
		}
	#footer p {
		line-height:18px;
	}
	#footer address .footer-sprite.address {
		background-position:0 0;
	}
	#footer address .footer-sprite.phone {
		background-position:0 -138px;
		line-height:30px;
	}
	#footer address .footer-sprite.email {
		background-position:0 -247px;
	}

	/* footer images gallery */


	@media only screen and (max-width: 768px) {

		#footer .row>div {
			margin-bottom:60px;
		}
	}

	/* sticky footer */
	footer.sticky {
		width: 100%;
	}
	@media only screen and (max-width: 768px) {
		footer.sticky {
			top:auto !important;
			position:relative !important;
		}
	}

#footer .btn,
#footer .form-control {
	height:36px;
}

#footer .btn-xs,
#footer .btn-lg {
	height:auto;
}

/** Responsive
 **************************************************************** **/
@media only screen and (max-width: 992px) {
	#header.header-sm #topNav button.btn-mobile {
			margin-top:16px;
	}
	#header.header-sm #topNav button.btn-mobile {
			margin-top:11px;
	}
	#topNav #topMain>li.mega-menu div.row div {
		display:block !important;
		border:0 !important;
	}

	#header .nav-second-main .quick-cart-box,
	#header .nav-second-main .search-box {
		box-shadow:none !important;
	}


	/* fullwidth button fix */
	body>.btn.fullwidth,
	#wrapper>.btn.fullwidth {
		padding-top:0!important;
		padding-bottom:20px!important;

		white-space: pre;           /* CSS 2.0 */
		white-space: pre-wrap;      /* CSS 2.1 */
		white-space: pre-line;      /* CSS 3.0 */
		white-space: -pre-wrap;     /* Opera 4-6 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap;  /* HP Printers */
		word-wrap: break-word;      /* IE 5+ */
	}
	body>.btn.fullwidth>span,
	#wrapper>.btn.fullwidth >span {
		line-height:30px !important;
	}

}

@media only screen and (max-width: 768px) {
	#header.fixed {
		position:relative;
	}

	#header.transparent + #slider h1 {
		margin-top:80px !important;
	}
	section div.row>div {
		margin-bottom:60px;
	}
	section div.row.lightbox>div {
		margin-bottom:0;
	}
	section form div.row>div.form-group>div,
	section form div.row>div {
		margin-bottom:15px;
	}
	section form div.row>div.form-group>div:last-child,
	section form div.row>div:last-child {
		margin-bottom:0;
	}
}

@media only screen and (max-width: 480px) {
	.mobile-block {
		display:block;
		float:none !important;
		position:relative;
	}
	.mobile-block>.social-icon {
		float:none !important;
	}

}
